DATABASE_HOST=db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
REDIS_SESSION_URL=redis://redis:6379/0
REDIS_CACHE_URL=redis://redis:6379/2
REDIS_SIDEKIQ_URL=redis://redis:6379/1
DOMAIN_NAME=localhost